<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handwritten Digit Recognition Web Application</title>
</head>
<body>
<h1>Handwritten Digit Recognition Web Application</h1>

<h2><u>Draw a number in the canvas below</u></h2>

<div id="paint">
    <canvas id="canvas"></canvas>
    <br>
    <button id="clearCanvas">Clear</button>
</div>
<br>
<button id="submitButton">Process Drawing</button>

<h2 id="result"></h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{url_for('static',filename='index.js')}}"></script>
<script src="{{url_for('static',filename='prediction.js')}}"></script>
</body>
</html>